[Unit]
Description=Heimdal Admin Server - no daemon version
After=syslog.target

[Service]
Environment=HEIMDAL_SYSTEMD=1
ExecStart=/usr/heimdal/bin/kadmin
StandardInput=socket

[Install]
WantedBy=network.target
