[Unit]
Description=Heimdal Admin Server Daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/kadmind
Restart=on-failure

[Install]
WantedBy=multi-user.target
