[Unit]
Description=Heimdal Admin Server - no daemon version
After=syslog.target

[Service]
ExecStart=/usr/sbin/kadmind
StandardInput=socket

[Install]
WantedBy=network.target
