[Unit]
Description=Heimdal Admin Server Daemon
After=syslog.target network.target

[Service]
Environment=HEIMDAL_SYSTEMD=1
ExecStart=/usr/sbin/kadmind
Restart=on-failure

[Install]
WantedBy=multi-user.target
