[Unit]
Description=Heimdal kpasswd Daemon
After=network.target

[Service]
ExecStart=/usr/heimdal/libexec/kpasswdd
Restart=on-failure

[Install]
WantedBy=multi-user.target
