[Unit]
Description=Bluetooth Manager
After=network.target

[Service]
Type=dbus
BusName=org.bluez
ExecStart=/usr/sbin/bluetoothd -nd
StandardOutput=syslog

[Install]
WantedBy=bluetooth.target
