[Unit]
Description=Squid Rotate

[Service]
Type=oneshot
ExecStart=/usr/sbin/squid -k rotate
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
