[Desktop Entry]
Name=Asunder
GenericName=Asunder
Comment=A graphical CD ripper and encoder.
Exec=asunder
Terminal=false
Type=Application
Icon=asunder
Categories=Application;AudioVideo;Multimedia
Encoding=UTF-8
