[Unit]
Description=OpenAFS Client Service
After=syslog.target network.target
Before=remote-fs.target

[Service]
Type=forking
RemainAfterExit=true
ExecStartPre=/sbin/modprobe openafs
ExecStart=/usr/sbin/afsd -dynroot -fakestat -afsdb
ExecStartPost=/usr/bin/fs setcrypt on
ExecStop=/usr/sbin/killafs TERM
ExecStop=/usr/sbin/killafs KILL
ExecStop=/bin/umount /afs
ExecStop=/usr/sbin/afsd -shutdown
ExecStop=/sbin/rmmod openafs
KillMode=none

[Install]
WantedBy=multi-user.target remote-fs.target
