[Unit]
Description=CUPS Printing Service

[Service]
ExecStart=/usr/sbin/cupsd -l
StandardOutput=syslog

[Install]
Also=org.cups.cupsd.socket org.cups.cupsd.path
WantedBy=multi-user.target
