[Desktop Entry]
Encoding=UTF-8
Name=PuTTY terminal
Comment=PuTTY terminal
Exec=pterm
Icon=pterm
Terminal=false
Type=Application
Categories=Application;System;
Comment[pl]=terminal PuTTY
X-KDE-StartupNotify=true
StartupNotify=true
