[Desktop Entry]
Encoding=UTF-8
Name=PuTTY remote terminal
Comment=PuTTY remote terminal
Exec=putty
Icon=putty
Terminal=false
Type=Application
Categories=Application;Network;
Comment[pl]=terminal zdalny PuTTY
X-KDE-StartupNotify=true
StartupNotify=true
