[Unit]
Description=DHCPv4 Server Daemon
After=network.target

[Service]
EnvironmentFile=/etc/config.d/dhcpd
ExecStart=/usr/sbin/dhcpd -f -cf /etc/dhcpd.conf --no-pid $DHCPD_ARGS

[Install]
WantedBy=multi-user.target
