[Unit]
Description=A secure replacement for inetd
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/xinetd -dontfork
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
