MysqlAuthDb	auth
MysqlAuthTable	mail
MysqlAuthUsernameField	user
MysqlAuthPasswordField	password
MySQLAuthDomainField	domain
MySQLAuthDefaultDomain	test.com
MySQLAuthUIDName	mail
MySQLAuthGIDName	mail
pop_maildir	/var/spool/mail/mysql
