[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail
Name[pl]=Poczta Thunderbird
Comment=Thunderbird Mail Client
Exec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
Categories=Application;Network;
Comment[pl]=Thunderbird - klient poczty
X-KDE-StartupNotify=true
StartupNotify=true
