[Unit]
Description=Loading IP Sets
Before=network-pre.target iptables.service ip6tables.service
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ipset -f /etc/ipset.conf restore
ExecReload=/usr/sbin/ipset -f /etc/ipset.conf restore
ExecStop=/usr/sbin/ipset destroy

[Install]
WantedBy=multi-user.target
