#
# /etc/crontab - system crontab file
#
# see man crontab(5) for more information about this file.
#
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

@hourly  root run-parts /etc/cron.hourly
@daily   root run-parts /etc/cron.daily
@weekly  root run-parts /etc/cron.weekly
@monthly root run-parts /etc/cron.monthly

