[Desktop Entry]
Name=gDesklets Displays
Comment=Navigate through the Displays available for gDesklets
Exec=nautilus /usr/share/gdesklets/Displays
Icon=gdesklets.png
Terminal=false
Type=Application
Categories=Application;Utility;
