#
# More bash 2.04 completions
#
# From: ian@linuxcare.com (Ian Macdonald)
#

# Turn on extended globbing
shopt -s extglob

# cvs(1) completion
#
_cvs ()
{
	local cur prev

        COMPREPLY=()
        cur=${COMP_WORDS[COMP_CWORD]}
        prev=${COMP_WORDS[COMP_CWORD-1]}

	if [ $COMP_CWORD -eq 1 ] || [ "${prev:0:1}" = "-" ]; then
		COMPREPLY=( $( compgen -W 'add admin annotate checkout commit \
		diff edit editors export history import init log login logout \
		ls pserver rannotate rdiff release remove rlog rls rtag \
		server status tag unedit update version watch watchers' $cur ))
	else
		COMPREPLY=( $( compgen -f $cur ))
	fi
	return 0
}
complete -F _cvs cvs

