[Desktop Entry]
Encoding=UTF-8
Name=Seamonkey
Comment=Seamonkey Web Browser
Exec=seamonkey
Icon=seamonkey
Terminal=false
Type=Application
Categories=Application;Network;
Comment[pl]=Seamonkey - przeglądarka WWW
X-KDE-StartupNotify=true
StartupNotify=true
