[Desktop Entry]
Encoding=UTF-8
Name=XFCE
Comment=This session logs you into XFCE
Comment[az]=Bu iclas sizi XFCE'a daxil edəcək
Comment[be]=Гэтая сэсыя завядзе вас у XFCE
Comment[ca]=Aquesta sessió entra en XFCE
Comment[cs]=Toto sezení vás přihlásí do XFCE
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i XFCE
Comment[da]=Denne session logger dig på XFCE
Comment[de]=Diese Sitzung meldet Sie an XFCE an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο XFCE
Comment[es]=Con esta sesión accede a XFCE
Comment[fi]=Tämä istunto kirjaa sisään XFCEen
Comment[fr]=Cette session vous connectera dans XFCE
Comment[he]=תצורת הפעלה זו מחברת אותך ל XFCE
Comment[ko]=XFCE세션으로 로그인합니다
Comment[ms]=Sesi ini akan log anda  ke XFCE
Comment[nl]=Deze sessie meldt u aan bij XFCE
Comment[no]=Denne sesjonen logger deg inn til XFCE
Comment[pl]=Sesja logowania do XFCE
Comment[pt]=Esta sessão inicia-o no XFCE
Comment[pt_BR]=Logar no ambiente XFCE
Comment[sk]=Toto sedenie vás prihlási do prostredia XFCE
Comment[sl]=Ta seja vas prijavi v XFCE
Comment[sq]=Kjo seancë do t'ju fusë në XFCE
Comment[sr]=Ова сесија вас пријављује на XFCE
Comment[sr@Latn]=Ova sesija vas prijavljuje na XFCE
Comment[sv]=Denna session loggar in dig i XFCE
Comment[uk]=Сеанс роботи в середовищі XFCE
Comment[zh_CN]=此会话使您登录到 XFCE
Comment[zh_TW]=選取這個作業階段後會進入 XFCE 環境
Exec=startxfce4
Icon=xfce4-logo
Type=Application
