[Desktop Entry]
Encoding=UTF-8
Name=Pushover
Comment=Domino toppling game
Exec=/usr/games/pushover
Terminal=false
Type=Application
Categories=Application;Game;LogicGame
Icon=/usr/share/games/pushover/pushover.ico
