[Unit]
Description=A lightweight DHCP and caching DNS server

[Service]
Type=forking
PIDFile=/run/dnsmasq.pid
ExecStartPre=/usr/sbin/dnsmasq --test
ExecStart=/usr/sbin/dnsmasq --pid-file=/run/dnsmasq.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
