[Unit]
Description=Apply CPU microcode

[Service]
ExecStart=/usr/sbin/microcode_ctl -qu -f /lib/firmware/microcode.dat
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target

