[Desktop Entry]
Encoding=UTF-8
Name=Unvanquished
Comment=Futuristic FPS game
Exec=/usr/games/unvanquished
Path=/usr/share/games/unvanquished
Terminal=false
Type=Application
Categories=Application;Game;Shooter
Icon=/usr/share/games/unvanquished/unvanquished.ico
