[Unit]
Description=MariaDB database server
After=syslog.target

[Service]
User=mysql
Group=mysql
ExecStart=/usr/sbin/mariadbd --pid-file=/run/mysqld/mariadbd.pid
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
