
# Turn on extended globbing
shopt -s extglob

function _postconf_ ()
{
        local cmd=${COMP_WORDS[COMP_CWORD]}
        local idx=0
        local clen=${#cmd}
        for pval in $(/usr/sbin/postconf | cut -d" " -f1); do
                if [ "$cmd" == "${pval:0:$clen}" ]; then
                        COMPREPLY[$idx]=$pval
                        idx=$[$idx+1]
                fi
        done
}
                                                                                
complete -F _postconf_ postconf

