[Unit]
Description=Ferm

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/ferm.conf
ExecStart=/usr/bin/ferm ${CONFIG_FILE}
ExecStop=/usr/bin/ferm -F ${CONFIG_FILE}

[Install]
WantedBy=multi-user.target
