[Unit]
Description=Service Location Protocol
After=network.target

[Service]
ExecStart=/usr/sbin/slpd -c /etc/slp/slp.conf -r /etc/slp/slp.reg -s /etc/slp/slp.spi -l /var/log/slpd.log -d
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=network.target
