[Unit]
Description=Postfix Mail Transport Agent
After=network.target

[Service]
Type=forking
PIDFile=/var/spool/postfix/pid/master.pid
ExecStartPre=/usr/bin/newaliases
ExecStart=/usr/bin/postfix start
ExecReload=/usr/bin/postfix reload
ExecStop=/usr/bin/postfix stop
Restart=always

[Install]
WantedBy=multi-user.target
