[Desktop Entry]
Exec=/usr/lib/java/latest/bin/jconsole
Icon=sun-java-jdk8
Name=Java Monitoring and Management Console
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
