[Desktop Entry]
Name=autopano-sift
GenericName=Image Stitcher
Comment=Making panorama's fun
Exec=mono /opt/lunar/autopano-sift/bin/autopanog.exe
Icon=gqview.png
Type=Application
Terminal=false
Categories=Application;Graphics;Viewer;
MimeType=application/x-navi-animation;image/bmp;image/x-bmp;image/x-MS-bmp;image/gif;image/x-icon;image/jpeg;image/png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-cmu-raster;image/x-sun-raster;image/x-tga;image/tiff;image/vnd.wap.wbmp;image/x-xbitmap;image/x-xpixmap;image/svg;image/svg+xml;
