[Unit]
Description=iOS USB Muxer

[Service]
Type=simple
ExecStart=/usr/sbin/usbmuxd -s -f -U usbmux
PIDFile=/run/usbmuxd.pid

[Install]
WantedBy=multi-user.target
