[Desktop Entry]
Encoding=UTF-8
Name=Openbox
Comment=Session for openbox
Exec=openbox
# no icon yet, only the top three are currently used
Icon=
Type=Application
