[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail
Name[pl]=Poczta Thunderbird
Comment=Thunderbird Mail Client
Exec=thunderbird
Icon=mailicon48.png
Terminal=false
Type=Application
Categories=Application;Network;
Comment[pl]=Thunderbird - klient poczty
StartupNotify=true
