[Desktop Entry]
Type=Application
Name=gtkGuitune
Categories=AudioVideo;
Comment=Tune your Guitar
Comment[it_IT]=Accorda la chitarra
TryExec=gtkguitune
Exec=gtkguitune
Icon=guitune_logo
