
# Turn on extended globbing
shopt -s extglob

_lunar () 
{
	local cur prev
	COMPREPLY=()
	cur=${COMP_WORDS[COMP_CWORD]}
	prev=${COMP_WORDS[COMP_CWORD-1]}

	if [ $COMP_CWORD -eq 1 ] || [ "${prev:0:1}" = "-" ]; then
		COMPREPLY=( $( compgen -W 'prune renew update rebuild optimize fix nofix fixdepends set resurrect install remove hold unhold exile unexile' $cur ))
	else
		COMPREPLY=( $( compgen -f $cur ))
	fi
	return 0
}
complete -F _lunar lunar

_lvu ()
{
	# List any lvu sub-commands that do not take a module name 
	# after it
        LVU_CMDS_WITH_NO_MODULE="leafs orphans alien held exiled export moonbase html updatelog activity pam expired"
	local cur prev
	COMPREPLY=()
	cur=${COMP_WORDS[COMP_CWORD]}
	prev=${COMP_WORDS[COMP_CWORD-1]}

	if [ $COMP_CWORD -eq 1 ] || [ "${prev:0:1}" = "-" ]; then
		COMPREPLY=( $( compgen -W 'DETAILS DEPENDS CONFLICTS BUILD PRE_BUILD POST_BUILD CONFIGURE POST_INSTALL PRE_REMOVE POST_REMOVE what where cd alien from leafs orphans search service website install size installed compile compiler links sources maintainer version sum md5sum export import section moonbase html updatelog activity newer older voyeur pam expired depends tree eert stree leert held exiled urls versions short info' $cur ))
	elif [ $COMP_CWORD -eq 2 -a $prev = "from" ]; then
	        COMPREPLY=( $(compgen -f "$cur") )
	elif [ $COMP_CWORD -eq 2 ]; then
		# Bail out if we don't need a third param
		for CMD in $LVU_CMDS_WITH_NO_MODULE; do
			if [ "$prev" = "$CMD" ]; then return 0; fi
		done
		COMPREPLY=( $( compgen -W "`cat /var/state/lunar/module.index | cut -d: -f1`" $cur ))
	fi
	return 0
}
complete -F _lvu lvu

_modules ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`cat /var/state/lunar/module.index | cut -d: -f1`" $cur ))
}
complete -F _modules lin lget

_modules_installed ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`cat /var/state/lunar/packages | cut -d: -f1`" $cur ))
}

complete -F _modules_installed lrm

