[Unit]
Description=Cyrus SASL authentication daemon

[Service]
Type=forking
EnvironmentFile=/etc/config.d/saslauthd
ExecStart=/usr/sbin/saslauthd $SASLAUTHD_OPTIONS
PIDFile=/run/saslauthd/saslauthd.pid

[Install]
WantedBy=multi-user.target
