[Unit]
Description=BIND (Berkeley Internet Name Domain)

[Service]
ExecStart=/usr/sbin/named -f -u bind
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop
Restart=always

[Install]
WantedBy=multi-user.target
