[Unit]
Description=Berkeley Internet Name Domain (DNS)

[Service]
Type=forking
PIDFile=/run/named/named.pid
ExecStartPre=/usr/bin/named-checkconf -z /etc/named.conf
ExecStart=/usr/sbin/named -u bind
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop
Restart=always
PrivateTmp=true
TimeoutSec=25

[Install]
WantedBy=multi-user.target
