[Unit]
Description=Imspector transparent proxy with logging capabilities
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/imspector -c /etc/imspector/imspector.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
