#!/bin/bash

source /etc/lunar/local/config

if [ "$LUNAR_GL" == "binary" ] || [ "x$LUNAR_GL" == "x" ] ; then
  if ! [ "x$LD_LIBRARY_PATH" == "x" ] ; then
    export LD_LIBRARY_PATH="/usr/lib/opengl/ati:$LD_LIBRARY_PATH"
  else
    export LD_LIBRARY_PATH="/usr/lib/opengl/ati"
  fi
fi
