if [ $LD_LIBRARY_PATH ] ; then
  if ! set | grep LD_LIBRARY_PATH | grep -q /usr/lib/fglrx ; then
    LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib/fglrx
    export LD_LIBRARY_PATH
  fi
else
  LD_LIBRARY_PATH=/usr/lib/fglrx
  export LD_LIBRARY_PATH
fi

if [ $LIBGL_DRIVERS_PATH ] ; then
  if ! set | grep LIBGL_DRIVERS_PATH | grep -q /usr/lib/dri ; then
    LIBGL_DRIVERS_PATH=$LIBGL_DRIVERS_PATH:/usr/lib/dri
    export LIBGL_DRIVERS_PATH
  fi
else
  LIBGL_DRIVERS_PATH=/usr/lib/dri
  export LIBGL_DRIVERS_PATH
fi
