[Desktop Entry]
Encoding=UTF-8
Name=Pingus
Comment=A free Lemmings[tm] clone
Exec=/usr/games/pingus
Terminal=false
Type=Application
Categories=Application;Game;LogicGame
Icon=/usr/share/games/pingus/images/icons/pingus.png
