# set governor for all CPUs / cores to ...
alias  ondemand='cpufreq-set -r -g ondemand'
alias  powersave='cpufreq-set -r -g powersave'
alias  performance='cpufreq-set -r -g performance'
alias  conservative='cpufreq-set -r -g conservative'
