[Unit]
Description=PostgreSQL database server
After=network.target

[Service]
Type=forking
TimeoutSec=120
User=postgres
Group=postgres
Environment=PGROOT=/var/lib/pgsql

ExecStart=/usr/bin/pg_ctl -s -D ${PGROOT}/data start -w -t 120
ExecReload=/usr/bin/pg_ctl -s -D ${PGROOT}/data reload
ExecStop=/usr/bin/pg_ctl -s -D ${PGROOT}/data stop -m fast
OOMScoreAdjust=-200

[Install]
WantedBy=multi-user.target
