# Per kernel running:
# this is 2.4 code. If 2.4 is not running, just quit

UNAMER=`uname -r`

case $UNAMER in 
	2.4.* ) ;;
	* ) return 0;;
esac

# Turn on extended globbing
shopt -s extglob

_modprobe ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`find /lib/modules/${UNAMER}/kernel/ -type f -name '*.o' -exec basename {} \; | sed 's:.o$::'`" $cur ))
}
complete -F _modprobe modprobe insmod

_rmmod ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`cat /proc/modules | awk '{print $1}'`" $cur ))
}

complete -F _rmmod rmmod

# Not only does it set PATH, but also from here the mans set their search path, to the mans are automagically added too.
export PATH=$PATH:/lib/modutils/sbin/
