[Unit]
Description=Periodic Command Scheduler
After=syslog.target

[Service]
ExecStart=/usr/sbin/crond -n
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
