[Unit]
Description=Periodic Command Scheduler
After=syslog.target

[Service]
ExecStart=/usr/sbin/crond -n
Restart=always

[Install]
WantedBy=multi-user.target
