[Unit]
Description=High-performance, schema-free document-oriented database
After=syslog.target network.target

[Service]
Type=forking
User=mongodb
PIDFile=/var/run/mongodb/mongodb.pid
ExecStart=/usr/bin/mongod --quiet -f /etc/mongodb.conf run

[Install]
WantedBy=multi-user.target
