[Desktop Entry]
Name=Network Settings Panel
Exec=/usr/libexec/carrick-connection-panel --standalone
NotShowIn=X-MEEGO-NB;
Icon=network
Categories=Settings;X-XFCE;
