[Desktop Entry]
Name=Printing
Name[de]=Drucker
Name[fr]=Impression
Comment=Configure your printers
Comment[de]=Drucker einrichten
Comment[fr]=Configurer vos imprimantes
Exec=gnome-cups-manager
Icon=gnome-dev-printer
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;System;
