[Unit]
Description=Exim Mail Transport Agent
After=network.target
Conflicts=postfix.service

[Service]
PrivateTmp=true
PIDFile=/run/exim.pid
ExecStart=/usr/bin/exim -bd -q30m

[Install]
WantedBy=multi-user.target
