[Unit]
Description=Exim Mail Transport Agent
After=network.target
Conflicts=postfix.service

[Service]
PrivateTmp=true
ExecStart=/usr/sbin/exim -bd -q30m


[Install]
WantedBy=multi-user.target
