# Per kernel running:
# this is 2.6 or 3.x code. If 2.6 or 3.x is not running, just quit

UNAMER=`uname -r`

case $UNAMER in 
	2.6.*|3.* ) ;;
	* ) return 0;;
esac

# Turn on extended globbing
shopt -s extglob

_modprobe ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`find /lib/modules/${UNAMER}/kernel/ -type f -name '*.ko' -exec basename {} \; | sed 's:.ko$::'`" $cur ))
}

complete -F _modprobe modprobe insmod

_rmmod ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`cat /proc/modules | awk '{print $1}'`" $cur ))
}

complete -F _rmmod rmmod

# Doing this not only includes the binaries in the PATH but also makes the man automagically accesible too
export PATH="$PATH:/lib/module-init-tools/sbin:/lib/module-init-tools/bin"

return 0
